#section3 {
  .fp-next {
    right: 50px;
  }
  .columns {
    overflow: hidden;
    flex-direction: column;
    margin: 0;
    .column {
      padding: 0;
      transition: all 0.5s ease;
      opacity: 0;
      &.centered {
        // left: 0;
        opacity: 1;
      }
    }
    .overlay {
      width: 100%;
      height: 100%;
      opacity: 0.5;
      &.black {
        background-color: black;
        @include until($tablet) {
          display: none;
        }
      }
      &.white {
        background-color: white;
      }
    }
    .col1 {
      @include until($tablet) {
        background-image: unset !important;
      }
      @include from($tablet) {
        height: 50vh;
      }
      height: 20vh;
      position: relative;
      left: -100%;
      &.centered {
        left: 0;
      }
      h2 {
        @include from($tablet) {
          font-size: 2rem;
          color: white;
        }
        color: black;
        font-size: 1.5rem;
        // color: white;
      }
    }
    .col2 {
      display: flex;
      height: 50vh;
      position: relative;
      @include from($tablet) {
        right: -100%;
      }
      @include mobile() {
        flex-direction: column
      }
      &.centered {
        right: 0;
      }
      .services {
        position: relative;
        transition: all .4s ease;
        flex-grow: 1;
        a {
          color: black;
        }
        @include mobile() {
          &.menuiserie {
            left: -100%;
            &.centered {
              left: 0;
            }
          }
          &.amenagement {
            right: -100%;
            &.centered {
              right: 0;
            }
          }
        }
        .square-underline {
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          width: 50px;
          .square {
            background-color: $red;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .service-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      padding-bottom: 10px;
    }
    .image-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
