.contact-form-container {
  padding-top: 60px;
  .title {
    margin-top: 25px;
    display: inline-block;
  }
  .wpcf7-form {
    margin-top: 25px;
    label {
      background-color: white;
      padding: 5px;
      width: 100%;
      box-shadow: 5px 5px 25px darkgrey;
      input, textarea {
        width: 100%;
        border-style: none;
      }
    }
    .wpcf7-response-output {
      font-size: 0.7rem;
      @include from ($tablet) {
        position: absolute;
        top: 75px;
        right: 0px;
      }
      @include from ($widescreen) {
        font-size: 1rem;
      }
    }
    p:last-of-type {
      text-align: center;
      .wpcf7-submit {
        background-color: $red;
        color: white;
        padding: 10px 15px;
        border-style: none;
      }
    }
  }
}