footer {
  background-image: url('../img/footer-background.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 25px 15%;
  @include from($tablet) {
    position: absolute;
    bottom: 0;
  }
  .footer-illustration {
    background-image: url('../img/footer-illustration.png');
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .footer-content {
    position: relative;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    @include desktop() {
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .logo {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
    .social-links {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      a {
        margin: 0 5px;
        @include mobile() {
          margin: 10px 5px;
        }
      }
      .website {
        color: white;
      }
    }
  }
  .footer-separator {
    height: 4px;
    background-color: white;
    width: 100%;
    margin: 15px 0 25px 0;
  }
  .footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    @include mobile() {
      justify-content: space-around;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    img {
      border-radius: 50%;
      width: 75px;
      height: 75px;
      margin-bottom: 15px;
    }
    p {
      color: white;
      text-align: center;
    }
  }
}